/data
.env
/.claude
Cargo.lock
/target
bla.json
/scripts
/config/strategies_config.yaml
/config/events_config.yaml
/py-clob-client
/magic-proxy-builder-example
bitcoin_up_or_down_december_22_445am_500am_et/
model_tuning/sim_data/